<app-navbar></app-navbar>
<div class="col-md-2 offset-md-5 mt-5">

</div>

<app-movies></app-movies>
<!--
<div class="movie-card">
  <div class="movie-header manOfSteel">
    <div class="header-icon-container">
      <a href="#">
        <i class="material-icons header-icon"></i>
      </a>
    </div>
  </div>
  <div class="movie-content">
    <a href="#">
      <img class="movieImg" src="{{m.imgLink}}" alt="" srcset="">
    </a>

    <div class="movie-content-header">
      <a href="#">
        <h3 class="movie-title">{{m.title}}</h3>
      </a>
      <div class="imax-logo"></div>
    </div>
    <div class="movie-info">
      <div class="info-section">
        <label>Date & Time</label>
        <span>{{m.releaseDate}} {{m.duration}}</span>
      </div>

      <div class="info-section">
        <label>Screen</label>
        <span>03</span>
      </div>

      <div class="info-section">
        <label>Row</label>
        <span>F</span>
      </div>

      <div class="info-section">
        <label>Seat</label>
        <span>21,22</span>
      </div>
    </div>
  </div>
-->
