<app-navbar></app-navbar>
<div *ngIf="qrValue">

<mat-card class="card"  class="col-md-4 offset-md-4 mt-3">

    <mat-card style="background-color: rgb(73, 108, 145); color: white;">
      <h2>Movie Ticket</h2>
    </mat-card >
    <br>
    <div class="col-md-4 offset-md-3 mt-3">
      <div class="row">
        <div class="col">
          <qr-code value="{{qrValue}}" size="300" errorCorrectionLevel="M" ></qr-code>

        </div>
        <div class="col">

        </div>
      </div>

    </div>

  <br>
  <mat-card style="background-color: rgb(46, 59, 73); color: white;">
    <h2>Payment was successful.</h2>
    <h3>Upon pickup, Scan your QR-CODE into the vending machine.</h3>
  </mat-card>
</mat-card>

<mat-card class="col-md-4 offset-md-4 mt-3" style="background-color: rgb(43, 44, 44); color: white;">

  <button mat-raised-button color="accent" class="col offset-md-4" routerLink="/" >Back To Home</button>
</mat-card>
</div>
