<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" *ngIf="islogin" (click)="logoutUser()">Logout</a>
        <a class="nav-item nav-link" *ngIf="!islogin" (click)="loginUser()">Login</a>
    </div>
  </nav>
</div>

